@using HCMS.Common;
@model HCMS.Web.ViewModels.Recommendation.RecommendationViewModel;

<div class="col-3 my-2 mx-4 card-partial">
    <div class="mb-3">
        <div>
            <h3 class="text-center"><b>@Model!.FirstName @Model.LastName</b></h3>
            <img class="profile-image mb-2" src="@Model.Photo" alt="Profile Image">

            <div>Email: <b>@Model.Email</b></div>
            <div>Phone: <b>@Model.Phone</b></div>
            <div>From: <b>@Model.CompanyName</b></div>

            <h5 class="text-center"><b>Letter</b></h5>
            <div class="d-flex justify-content-center align-items-center w-100">
                <textarea contenteditable="false" class="text-center">@Model.Description</textarea>
            </div>

            <div><b>@Model.RecommendDate.ToString("dd.MM.yyyy")</b></div>
        </div>
    </div>
</div>