@model HCMS.Web.ViewModels.WorkRecord.WorkRecordViewModel
<div class="col-3 my-2 mx-4 card-partial">
    <div class="mb-3">
        <div class="text-center">
            <h4>@Model.Position</h4>
            @if (Model.CompanyName != null)
            {
            <p>Company: <b>@Model.CompanyName</b></p>
            }
            @if (Model.Department != null)
            {
                <p>Department: <b>@Model.Department</b></p>
            }
            <h6>Start date: <b>@Model.StartDate.ToString("dd.MM.yyyy")</b></h6>
            @if (Model.EndDate != null)
            {
                DateTime endDate = Model.EndDate.Value;
                <h6>End date: <b>@endDate.ToString("dd.MM.yyyy")</b></h6>
            }

            <p>
                Salary: <b>@($"{Model.Salary:f2}") BGN</b>
            </p>

            <a asp-controller="WorkRecord" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-success">Edit</a>
            <a asp-controller="WorkRecord" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>