@model HCMS.Web.ViewModels.Advert.AdvertViewModel;
@using static HCMS.Common.RoleConstants;
@{
    string remoteOption = Model.RemoteOption ? "Yes" : "No";
    string employeeId;
    if (User.Claims.Any(c => c.Type == "EmployeeId"))
    {
        employeeId = User.Claims.FirstOrDefault(c => c.Type == "EmployeeId")!.Value.ToString();
    }
    else
    {
        employeeId = null;
    }
}

<div class="container card-partial mt-1 mb-1">
    <div class="row">
        <div class="col-md-4">
            <h4><b>@Model.CompanyName</b> - <b>@Model.Position</b></h4>
            <h6 class="d-flex"><b>Department: @Model.Department</b></h6>
            <h6 class="d-flex"><b>Location: @Model.Country, @Model.State</b></h6>
            <h6 class="d-flex"><b>Salary: @Model.Salary$</b></h6>
            <h6 class="d-flex"><b>Remote: @remoteOption</b></h6>
            <h6 class="d-flex"><b>Posted: @Model.AddDate.ToString("dd.MM.yyyy")</b></h6>
        </div>

        <div class="col-md-6">
            <div class="technical-font">
                <h4>Description</h4>
                <p>@Model.Description</p>
            </div>
        </div>

        <div class="col-md-2">
            <div class="technical-font">
                <div class="my-auto">
                    @if (User.Identity!.IsAuthenticated && employeeId != null)
                    {
                        <div class="text-center my-2">
                            <a asp-controller="Application" 
                            asp-action="Apply" 
                            asp-route-advertId="@Model.Id" 
                            asp-route-employeeId="@employeeId" 
                            asp-route-job="@Model.CompanyName - @Model.Position" 
                            class="btn btn-sm btn-success">Apply</a>
                        </div>
                    }

                    @if (User.IsInRole(ADMIN) || User.IsInRole(AGENT))
                    {
                        if (User.Claims.FirstOrDefault(c => c.Type == "EmployeeCompanyId")!.Value == Model.CompanyId.ToString())
                        {
                            <div class="text-center my-2">
                                <a asp-controller="Application" asp-action="AllByAdvert" asp-route-advertId="@Model.Id" class="btn btn-sm btn-primary">Applications</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>