@using HCMS.Web.ViewModels.Company;
@using HCMS.Web.ViewModels.BaseViewModel;
@model ResultQueryModel<CompanyViewModel>
@{
    ViewBag.Title = "All Companies";
}

@{
    //C# Calculations

    @* Check if the currentpage is the first and set it to first *@

    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    // take the total count of companies to calculate the pages depending no how many items per page
    int maxPage = (int)Math.Ceiling((double)Model.TotalItems /
                                    Model.ItemsPerPage);

    //check check if this page is the last
    bool shouldNextPageButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Items.Any();
}

<div class="container all-container">
    <h2 class="text-center"><b>All Companies</b></h2>
    <hr />
    <form method="get" id="formId">
        <div class="row justify-content-center">

            @* current page for navigation buttons used in jQuery *@
            <input type="hidden" asp-for="CurrentPage" value="@Model.CurrentPage" id="CurrentPage">

            @* previous page *@
            <div class="col-1 mt-4  d-flex justify-content-end form-group">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" value="<<" id="previousPageButton" />
                </div>
            </div>

            @* Per Page Select *@
            <div class="col-3 form-group text-center justify-content-center">
                <div class="form-group">
                    <label asp-for="ItemsPerPage"></label>
                    <select asp-for="ItemsPerPage" class="form-control text-center">
                        <option value="3">3</option>
                        <option value="6">6</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>

            @* Search box *@
            <div class="col-3 form-group text-center justify-content-center">
                <div class="form-group">
                    <label asp-for="SearchString"></label>
                    <input asp-for="SearchString" type="text" class="form-control text-center" placeholder="Search word" />
                </div>
            </div>

            @* Submit button *@
            <div class="col-1 d-flex mt-4 form-group">
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>

            <div class="col-2 d-flex mt-4 justify-content-center form-group">
                <a asp-controller="Company" asp-action="Edit" class="btn btn-primary">Add Company</a>
            </div>

            @* next page button *@
            <div class="col-1 mt-4 form-group">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary @(shouldNextPageButtonBeDisabled ? "disabled" : string.Empty)" value=">>" id="nextPageButton" />
                </div>
            </div>
        </div>
    </form>

    <hr />

    @* Companies Cards *@
    @if (!Model.Items.Any())
    {
        <h2 class="text-center">No companies found!</h2>
    }

    <div class="container">
        <div class="row justify-content-center">
            @foreach (var company in Model.Items)
            {
                <partial name="_CompanyViewPartial" model="@company" />
            }
        </div>
    </div>

    <hr />

    @* Page navigation *@
    <div class="row justify-content-center">
        <div class="col-1 mb-3 d-flex justify-content-center">
            @if (Model.Items.Any())
            {
                @if (maxPage == 1)
                {
                    <btn class="btn btn-success mx-1 disabled">@Model.CurrentPage</btn>
                }
                else
                {
                    @if (Model.CurrentPage > 1)
                    {
                        <a class="btn btn-outline-light disabled mx-1">1</a>
                    }
                    @if (Model.CurrentPage == maxPage)
                    {
                        <b class="btn btn-outline-light disabled">...</b>
                    }
                    <btn class="btn btn-success mx-1 disabled">@Model.CurrentPage</btn>
                    @if (Model.CurrentPage == 1)
                    {
                        <b class="btn btn-outline-light disabled">...</b>
                    }
                    @if (Model.CurrentPage < maxPage)
                    {
                        <a class="btn btn-outline-light disabled mx-1">@maxPage</a>
                    }
                }
            }
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/js/Page.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Company.css" asp-append-version="true" />
}
